<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="addUser" , method="GET">
      <label for="userName">User Name:</label><br />
      <input type="text" id="userName" name="userName" /><br /><br />
      <label for="Password">Password:</label><br />
      <input type="text" id="Password" name="Password" /><br /><br />
      <label for="NumofTransactions">Num of Transactions:</label><br />
      <input type="text" id="NumofTransactions" name="NumofTransactions" /><br /><br />
      <button type="submit"><Save>Save</button>
    </form>
  </body>
</html>
